{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/shipcruise/css/mainPage.css') }}" rel="stylesheet" media="screen">
    <style>
        .mainPage {
            height: 100%;
            width: 100%;
            background-image: url("{{ asset('bundles/shipcruise/img/background2.jpg') }}");
            padding-bottom: 20%;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    </style>
{% endblock %}
{% block body -%}
    <div class="row mainPage no-margin">
        <div class="row navigation no-margin">
            <div class="col-lg-2">
                <div class="logo">
                    <img src="{{ asset('bundles/shipcruise/img/logo.png') }}" class="img-responsive" alt="logo"> 
                </div>
            </div>
            <div class="col-lg-10 navigationBar">
                <ul>
                    <li><a href="{{ path('ship_cruise_impressume') }}"><h4>Impressume</h4></a></li>
                    <li><a href="{{ path('ship_cruise_uber_uns') }}"><h4>Uber Uns</h4></a></li>
                    <li><a href="{{ path('ship_cruise_contact') }}"><h4>Contact</h4></a></li>
                    <li><a href="{{ path('ship_cruise_homepage') }}"><h4>Home</h4></a></li>
                </ul>
            </div>
        </div>
        {% block page1 -%} {% endblock %}
    </div>
    {% block page2 -%} {% endblock %}

{% endblock %}







